{% extends '_layout.swig' %}
{% import '_macro/sidebar.swig' as sidebar_template %}

{% block title %}{{  page.tittle  }}{% endblock %}

{% block page_class %}page-post-detail page-calendar{% endblock %}

{% block content %}
  {######################}
  {### HOME BLOCK ###}
  {######################}
<div class="welcome_1">
  <div class="welcome_container">
    <div class="welcome_left">
      <div class="left_1">
        <h3>&nbsp;&nbsp;中南大学<b class="blue">极光</b>实验室</h3>
        <h4 class="left_2" style="visibility: visible; animation-name: fadeIn;">  &nbsp; &nbsp;建立于2016年10月，实验室现设有二进制安全研究组，web安全研究组，安全开发组等研究小组。欢迎热爱信息安全技术的同学加入我们！</h4>
        <h4 class="left_2" style="visibility: visible; animation-name: fadeIn;">  &nbsp; &nbsp;联系邮箱：<a href="mailto:csusecurity@163.com"><b class="blue">csusecurity@163.com</b></a></h4>
      </div>
    </div>
    <div class="welcome_separator">

    </div>
    <div class="welcome_right">
      <img src="/images/csu.gif" height="350" width="350">
    </div>
  </div>
</div>
  {##########################}
  {### END HOME BLOCK ###}
  {##########################}
{% endblock %}

{% block sidebar %}
  {{ sidebar_template.render(false) }}
{% endblock %}
