{% extends '_layout.swig' %}
{% import '_macro/sidebar.swig' as sidebar_template %}

{% block title %}{{  page.tittle  }}{% endblock %}

{% block page_class %}page-post-detail page-calendar{% endblock %}

{% block content %}
  {######################}
  {### HISTORY BLOCK ###}
  {######################}
  <ul class="timeline">
  {% for event in page.history %}
  {% if loop.index%2 == 0 %}
  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="flag">{{  event[0]  }}</span>
        <span class="time-wrapper"><span class="time">{{  event[1]  }}</span></span>
      </div>
      <div class="desc">{{  event[2]  }}</div>
    </div>
  </li>
  {% else %}
  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="flag">{{  event[0]  }}</span>
        <span class="time-wrapper"><span class="time">{{  event[1]  }}</span></span>
      </div>
      <div class="desc">{{  event[2]  }}</div>
    </div>
  </li>
  {% endif %}
  {% endfor %}
</ul>
  {##########################}
  {### END HISTORY BLOCK ###}
  {##########################}
{% endblock %}

{% block sidebar %}
  {{ sidebar_template.render(false) }}
{% endblock %}
