{% extends '_layout.swig' %}
{% import '_macro/sidebar.swig' as sidebar_template %}

{% block title %}{{  page.tittle  }}{% endblock %}

{% block page_class %}page-post-detail page-calendar{% endblock %}

{% block content %}
  {######################}
  {### HOME BLOCK ###}
  {######################}
{% for link in page.links %}
    <div >
        <div class="pic" style="float:left"> <img src="{{  link[2]  }}" height="50" width="50"> </div>
        <div class="name"><h3>&nbsp;&nbsp;<a href="{{  link[1]  }}" target="_blank">{{  link[0]  }}</a></h3></div>
    </div>
{% endfor %}
  {##########################}
  {### END HOME BLOCK ###}
  {##########################}
{% endblock %}

{% block sidebar %}
  {{ sidebar_template.render(false) }}
{% endblock %}
