{% extends '_layout.swig' %}
{% import '_macro/post.swig' as post_template %}
{% import '_macro/sidebar.swig' as sidebar_template %}


{% block title %}{{ page.title }} | {{ config.title }}{% endblock %}

{% block page_class %}page-post-detail{% endblock %}


{% block content %}

  {######################}
  {### MEMBER BLOCK ###}
  {######################}
<div class="member-main">
    <div class="member-separator-10"></div>
    <div class="member-separator-10"></div>
    <div class="member-head">
      <ul class="member-list" id="member-ul">
			<a href="#" style="text-decoration:none"><li class="" id="member-li"><b class="member-blue">2019级</b></li></a>
            <a href="#" style="text-decoration:none"><li class="member-selected" id="member-li"><b class="member-blue">2018级</b></li></a>
            <a href="#" style="text-decoration:none"><li class="" id="member-li"><b class="member-blue">2017级</b></li></a>
            <a href="#" style="text-decoration:none"><li class="" id="member-li"><b class="member-blue">2016级</b></li></a>
            <a href="#" style="text-decoration:none"><li class="" id="member-li"><b class="member-blue">2015级</b></li></a>
            <a href="#" style="text-decoration:none"><li class="" id="member-li"><b class="member-blue">2014级</b></li></a>
      </ul>
    </div>
    <div class="member-separator-6"></div>
    <div class="member-content">
		<div>
          <table  border="0" cellspacing="0" cellpadding="0" class="member-table"> 
          {% for man in page.one_nine %}
            {% if loop.index%3 != 0 and loop.last %}
              <td class="member-td-new"><a href="{{  man[1]  }}" style="text-decoration:none" target="_blank"><b class="member-blue">{{  man[0]  }}</b></a></td>
              </tr>
            {% elseif loop.index%3 == 1 %}
              <tr>
              <td class="member-td-new"><a href="{{  man[1]  }}" style="text-decoration:none" target="_blank"><b class="member-blue">{{  man[0]  }}</b></a></td>
            {% elseif loop.index%3 == 2 %} 
              <td class="member-td-new"><a href="{{  man[1]  }}" style="text-decoration:none" target="_blank"><b class="member-blue">{{  man[0]  }}</b></a></td>
            {% elseif loop.index%3 == 0 %}
              <td class="member-td-new"><a href="{{  man[1]  }}" style="text-decoration:none" target="_blank"><b class="member-blue">{{  man[0]  }}</b></a></td>
              </tr>
            {% endif %}
          {% endfor %}
          </table>
        </div>
	
	
        <div class="show">
          <table  border="0" cellspacing="0" cellpadding="0" class="member-table"> 
          {% for man in page.one_eight %}
            {% if loop.index%3 != 0 and loop.last %}
              <td class="member-td-new"><a href="{{  man[1]  }}" style="text-decoration:none" target="_blank"><b class="member-blue">{{  man[0]  }}</b></a></td>
              </tr>
            {% elseif loop.index%3 == 1 %}
              <tr>
              <td class="member-td-new"><a href="{{  man[1]  }}" style="text-decoration:none" target="_blank"><b class="member-blue">{{  man[0]  }}</b></a></td>
            {% elseif loop.index%3 == 2 %} 
              <td class="member-td-new"><a href="{{  man[1]  }}" style="text-decoration:none" target="_blank"><b class="member-blue">{{  man[0]  }}</b></a></td>
            {% elseif loop.index%3 == 0 %}
              <td class="member-td-new"><a href="{{  man[1]  }}" style="text-decoration:none" target="_blank"><b class="member-blue">{{  man[0]  }}</b></a></td>
              </tr>
            {% endif %}
          {% endfor %}
          </table>
        </div>

        <div>
          <table  border="0" cellspacing="0" cellpadding="0" class="member-table"> 
          {% for man in page.one_seven %}
            {% if loop.index%3 != 0 and loop.last %}
              <td class="member-td-new"><a href="{{  man[1]  }}" style="text-decoration:none" target="_blank"><b class="member-blue">{{  man[0]  }}</b></a></td>
              </tr>
            {% elseif loop.index%3 == 1 %}
              <tr>
              <td class="member-td-new"><a href="{{  man[1]  }}" style="text-decoration:none" target="_blank"><b class="member-blue">{{  man[0]  }}</b></a></td>
            {% elseif loop.index%3 == 2 %} 
              <td class="member-td-new"><a href="{{  man[1]  }}" style="text-decoration:none" target="_blank"><b class="member-blue">{{  man[0]  }}</b></a></td>
            {% elseif loop.index%3 == 0 %}
              <td class="member-td-new"><a href="{{  man[1]  }}" style="text-decoration:none" target="_blank"><b class="member-blue">{{  man[0]  }}</b></a></td>
              </tr>
            {% endif %}
          {% endfor %}
          </table>
        </div>

        <div>
          <table  border="0" cellspacing="0" cellpadding="0" class="member-table"> 
          {% for man in page.one_six %}
          <tr> 
              <td class="member-td-old-name"><a href="{{  man[1]  }}" style="text-decoration:none" target="_blank"><b class="member-blue">{{  man[0]  }}</b></a></td> 
              <td class="member-td-old-introduce">{{  man[2]  }}</td> 
            </tr> 
          {% endfor %}
          </table>
        </div>
		
        <div>
          <table  border="0" cellspacing="0" cellpadding="0" class="member-table"> 
          {% for man in page.one_five %}
          <tr> 
              <td class="member-td-old-name"><a href="{{  man[1]  }}" style="text-decoration:none" target="_blank"><b class="member-blue">{{  man[0]  }}</b></a></td> 
              <td class="member-td-old-introduce">{{  man[2]  }}</td> 
            </tr> 
          {% endfor %}
          </table>
        </div>
		
        <div>
          <table  border="0" cellspacing="0" cellpadding="0" class="member-table"> 
          {% for man in page.one_four %}
          <tr> 
              <td class="member-td-old-name"><a href="{{  man[1]  }}" style="text-decoration:none" target="_blank"><b class="member-blue">{{  man[0]  }}</b></a></td> 
              <td class="member-td-old-introduce">{{  man[2]  }}</td> 
            </tr> 
          {% endfor %}
          </table>
        </div>
		
    </div>
</div>
<script type="text/javascript">
var tabs = document.getElementsByClassName('member-head')[0].getElementsByTagName('li'),
  contents = document.getElementsByClassName('member-content')[0].getElementsByTagName('div');

(function changeTab(tab) {
  for(var i = 0, len = tabs.length; i < len; i++) {
      tabs[i].onmousedown = showTab;
      tabs[i].onmouseover = showMaybe;
      tabs[i].onmouseout = noshow;
  }
})();

function showTab() {
  for(var i = 0, len = tabs.length; i < len; i++) {
      if(tabs[i] === this) {
          tabs[i].className = 'member-selected';
          contents[i].className = 'show';
      } else {
          tabs[i].className = '';
          contents[i].className = '';
      }
  }
}
function showMaybe() {
  for(var i = 0, len = tabs.length; i < len; i++) {
      if(tabs[i] === this && tabs[i].className !== 'member-selected') {
          tabs[i].className = 'member-maybeselected';
      } else if(tabs[i].className !== 'member-selected'){
          tabs[i].className = '';
      }
  }
}
function noshow() {
  for(var i = 0, len = tabs.length; i < len; i++) {
        if(tabs[i].className !== 'member-selected'){
          tabs[i].className = '';
      }
  }
}
</script>
  {##########################}
  {### END MEMBER BLOCK ###}
  {##########################}

{% endblock %}

{% block sidebar %}
  {{ sidebar_template.render(true) }}
{% endblock %}

{% block script_extra %}
  {% include '_scripts/pages/post-details.swig' %}
{% endblock %}
